<div class="container">
    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="form">
      <h2>{{'FORGOT_PASSWORD_TITLE' | translate}}</h2>
  
      <label for="email">{{'EMAIL' | translate}}</label>
      <input
        id="email"
        type="email"
        formControlName="email"
        placeholder="{{'EMAIL_PLACEHOLDER' | translate}}"
        [class.invalid]="forgotForm.controls['email'].invalid && forgotForm.controls['email'].touched"
        autocomplete="email"
      />
      <div class="error" *ngIf="forgotForm.controls['email'].invalid && forgotForm.controls['email'].touched">
        {{'EMAIL_VALID' | translate}}
      </div>
  
      <button type="submit" [disabled]="forgotForm.invalid">{{'RESET_LINK' | translate}}</button>
  
      <div class="message success" *ngIf="message">{{ message }}</div>
      <div class="message error" *ngIf="error">{{ error }}</div>
    </form>
</div>
  